---
import { formatCount } from "../lib/format";

interface Props {
  likes: number;
  comments: number;
  shares: number;
}

const { likes, comments, shares } = Astro.props;
---

<div class="stats">
  <span class="stats__item" title="讚">
    <span class="material-symbols-outlined stats__icon" aria-hidden="true">favorite</span>
    <span><span class="visually-hidden">讚 </span>{formatCount(likes)}</span>
  </span>
  <span class="stats__item" title="留言">
    <span class="material-symbols-outlined stats__icon" aria-hidden="true">chat_bubble</span>
    <span><span class="visually-hidden">留言 </span>{formatCount(comments)}</span>
  </span>
  <span class="stats__item" title="分享">
    <span class="material-symbols-outlined stats__icon" aria-hidden="true">share</span>
    <span><span class="visually-hidden">分享 </span>{formatCount(shares)}</span>
  </span>
</div>

<style>
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
    border: 0;
  }
</style>
